In [11]:
! conda install py2neo -y

Collecting package metadata (current_repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.10.3
  latest version: 4.13.0

Please update conda by running

    $ conda update -n base conda



# All requested packages already installed.

In [12]:
! conda install monotonic -y

Collecting package metadata (current_repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.10.3
  latest version: 4.13.0

Please update conda by running

    $ conda update -n base conda



# All requested packages already installed.

In [13]:
# imports  - to connect to neo4j DB
from py2neo import Graph,Node,Relationship

## Connect to NEO4J Database using py2neo (Neo4j's Python drivers)

In [14]:
graph = Graph("http://neo4j:7474/", auth=("neo4j", "test"))

In [15]:
hero_data_count = "MATCH (n:Hero) RETURN count(n)"
results = graph.evaluate(hero_data_count)
print(f"Total Nodes: {results}")

Total Nodes: 6467

In [16]:
hero_data = "MATCH (n:Hero) RETURN n.id as ID,n.name as Name LIMIT 6"
result = graph.run(hero_data)
for each in result:
    print(each)

859	'CAPTAIN AMERICA'
5306	'SPIDER-MAN/PETER PAR'
2664	'IRON MAN/TONY STARK '
5716	'THING/BENJAMIN J. GR'
6306	'WOLVERINE/LOGAN '
3805	'MR. FANTASTIC/REED R'

In [17]:
## print Hero names who has 1500+ appearances
query_custom = """MATCH (hero:Hero)
WHERE hero.appearances > 1500 RETURN hero.name"""

appear_result = graph.run(query_custom)

In [18]:
adf = appear_result.to_data_frame()

In [19]:
adf.head()

              hero.name
0       CAPTAIN AMERICA
1  SPIDER-MAN/PETER PAR
2  IRON MAN/TONY STARK

# Parameterized Cypher
#####  Pass parameters to Cypher queries by passing additional key-value arguments to Graph.cypher.execute. Parameters in Cypher are named and are wrapped in curly braces.

In [20]:
## Get hero names who has appearances > 1500 and also has a relation with Captain America
query2 = """
MATCH (hero:Hero)-[relation:KNOWS]->(n:Hero)
where hero.name = $name and n.appearances > 1500 and hero <> n RETURN n.name as Name
"""

graph.run(query2, name="CAPTAIN AMERICA")

 Name
----------------------
 SPIDER-MAN/PETER PAR
 IRON MAN/TONY STARK